services:
    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        container_name: backend
        environment:
            - NODE_ENV=production
            - MONGO_URL=mongodb://${MONGODB_USER}:${MONGODB_PASSWD}@mongo-db-hack:27017/${MONGODB_DB}
        depends_on:
            - db
        restart: unless-stopped

    db:
        image: mongo:latest
        container_name: mongo-db-hack
        environment:
            - MONGO_INITDB_ROOT_USERNAME=${MONGODB_USER}
            - MONGO_INITDB_ROOT_PASSWORD=${MONGODB_PASSWD}
            - MONGO_INITDB_DATABASE=${MONGODB_DB}
        volumes:
            - ./mongo-data:/data/db
        restart: unless-stopped

    caddy:
        image: caddy:latest
        container_name: caddy
        restart: unless-stopped
        ports:
            - "80:80"
            - "443:443"
            - "443:443/udp"
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile
            - caddy_data:/data
            - caddy_config:/config
        depends_on:
            - backend

volumes:
    caddy_data:
    caddy_config:
