@import "tailwindcss";

html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out;
}